:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
}

#deleteBtn {
  background: none;
  border: none;
  margin-left: 10px;
}

#deleteBtn:hover {
  scale: 1.22;
  border: solid rgba(255, 255, 255, 0.87) 1px;
}


.light {
  background: white;
  color: black;
  min-height: 100vh;
  padding: 20px;
  transition: .3s
}

.dark {
  background-color: #121212;
  color: white;
  min-height: 100vh;
  padding: 20px;
  transition: .3s;
}

span {
  border-bottom: #121212;
}
